@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";

//Variables

//font colours
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-red: rgb(145, 45, 45);
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(64, 64, 64);
$color-blue-completed: rgb(79, 164, 224);
$color-white: #fff;
$color-black: #000;
$color-blue: #193e67;
$color-light-blue-1: #5ca4ec;
$color-light-blue-3: #167dfb;
$color-light-blue-2: #1f76cc;
$color-light-blue-4: rgb(148, 214, 255);
$color-dark-red: rgb(126, 18, 18);
//font sizes
$default-font-size: 1.6rem;

//dimensions
$navbar-height: 5rem;

//dimensions-Dashboard
$categories-sidebar-width: 23rem;
$category-top-section-height: 7.5rem;
$board-top-section-height: 14.3rem;
$categories-sidebar-closed-width: 1.5rem;
$categories-sidebar-change: -21.5rem;
//datepicker
.react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
    margin: 0.5rem !important;
}
//mixins
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin x-overflow-handle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin y-overflow-handle {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #e1e1e1;
        border-radius: 4px;
    }
}
@mixin category-item {
    height: 3.5rem;
    padding: 0 1rem;
    border-radius: 4px;
}

@mixin removeDefOutline {
    &:active,
    &:focus {
        outline: none !important;
    }
}
@mixin btn {
    border: none;
    outline: none;
    border-radius: 4px;
    &:hover {
        cursor: pointer;
        background-color: $color-grey-light-1;
    }
}
//setup
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-black;
    // padding: 3rem;
    display: flex;
    flex-flow: column;
    height: 100%;
    min-width: 400px;
    overflow-x: auto;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

//Components
//buttons

.btn-secondary {
    @include btn;
    font-size: 1.6rem;
    background-color: $color-white;
    font-weight: 400;
    color: $color-grey-dark-3;
    padding: 0.8rem;
    &:hover {
        color: $color-grey-dark-3;
        background-color: $color-grey-light-2;
    }
    &:active,
    &:focus {
        outline: none !important;
        border: none !important;
        background-color: rgba($color-light-blue-1, 0.2) !important;
        color: $color-light-blue-2 !important;
    }
    &.new-cat-btn {
        padding: 0.5rem;
    }
}

.btn-primary {
    @include btn;
    font-size: 1.6rem;
    background-color: $color-light-blue-3;
    color: $color-white;
    padding: 0.8rem;
    font-weight: 700;
    &:hover {
        background-color: darken($color-light-blue-3, 5%);
    }
}

.btn-danger {
    @include btn;
    background-color: $color-red;
    padding: 0.8rem;
    font-weight: 700;
    &:hover {
        background-color: darken($color-red, 5%);
    }
}

.add-category-icon {
    position: absolute;
    top: 3.5rem;
    right: 2rem;
    color: $color-grey-dark-2;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    &:hover {
        cursor: pointer;
        color: $color-grey-dark;
    }
}

//collaspible menus

.collaspible-menu {
    background-color: $color-white;
    z-index: 1;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

//modals
.ReactModal__Overlay {
    z-index: 3;
}
.my-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: $color-white;
    padding: 4rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    @include removeDefOutline;
}

.add-edit-modal {
    width: 45rem;
    height: 40rem;
}

.todo-modal {
    width: 50%;
    min-width: 36rem;
    max-height: 95vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #e1e1e1;
        border-radius: 4px;
    }
}

.pomo-modal {
    width: 40%;
    min-width: 38rem;
}

.category-option {
    &:active,
    &:focus {
        background-color: $color-white !important;
    }
    &.true {
        font-weight: 700;
    }
    &.false {
        background-color: $color-white !important;
    }
}

.del-btn-container {
    width: 100%;
    height: 5rem;
    position: relative;
}
.del-centre {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.del-title {
    text-align: center;
}
//typography
.description {
    font-weight: 300;
    color: $color-grey-dark;
}

.heading-secondary {
    font-weight: 700;
    font-size: 2rem;
}

.heading-primary {
    font-weight: 500;
    font-size: 3rem;
}

.font-sm {
    font-size: 1.5rem;
}

.padding-sm {
    padding: 0.3rem !important;
}

.form-label {
    font-size: 1.8rem;
    &.primary {
        font-size: 2rem;
    }

    &.secondary {
        font-size: 1.4rem;
        color: $color-grey-dark;
        font-weight: 500;
    }
}

.form-label-sm {
    font-size: 1.4rem;
}
.form-range {
    width: 100%;
}
.vol {
    text-align: center;
}
.pomodoro-settings-error {
    font-size: 1.4rem;
    color: $color-dark-red;
}
//utils
.margin-right-sm {
    margin-right: 1.3rem;
}
.margin-right-med {
    margin-right: 1.8rem;
}
.margin-left-sm {
    margin-left: 0.5rem;
}

.margin-left-med {
    margin-left: 2rem;
}

.margin-top-med {
    margin-top: 3rem;
}

.margin-top-sm {
    margin-top: 1rem;
}

.margin-bottom-sm {
    margin-bottom: 1rem;
}
.margin-bottom-med {
    margin-bottom: 2rem;
}

//animations
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

//NavBar
.navigation {
    background-color: $color-blue;
    @include clearfix;
    height: $navbar-height;
    padding: 0.4rem;
    &__name,
    &__name:hover {
        text-decoration: none;
        float: left;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 1.5px;
        color: $color-white;
        padding-left: 2rem;
    }
    &__list {
        float: right;
        padding-top: 0.5rem;
    }
    &__link,
    &__link:hover {
        text-decoration: none;
        color: $color-black;
        margin-right: 2rem;
        font-size: 2rem;
        color: $color-grey-light-1;
        &:hover {
            text-decoration: none;
        }
        &.small {
            margin-right: 1.5rem;
        }
    }
}

//Dashboard Page
.dashboard {
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    width: 100%;
}
.categories-sidebar {
    float: left;
    background-color: $color-white;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $categories-sidebar-width;
    border-right: 0.5px solid rgba($color-grey-dark-2, 0.4);
    transition: all 0.2s ease-out;
    &.closed {
        left: $categories-sidebar-change;
    }
    &__top-section {
        height: $category-top-section-height;
    }
    &__title-container {
        position: relative;
        height: 6.5rem;
        padding-top: 2.5rem;
        padding-left: 2rem;
    }
    &__divider {
        margin: 0 1rem 1rem 1rem;
        border-bottom: 0.5px solid rgba($color-grey-dark-2, 0.4);
    }
    &__main-section {
        padding: 0 1.2rem;
        height: calc(100% - #{$category-top-section-height});
        @include y-overflow-handle;
    }
    &__category_item {
        @include category-item;
        &:hover {
            background-color: $color-grey-light-1;
            cursor: pointer;
        }
        &--selected {
            @include category-item;
            background-color: rgba($color-light-blue-1, 0.2);
            color: $color-light-blue-2;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__category_name {
        padding-top: 0.5rem;
        width: 100%;
        @include x-overflow-handle;
    }
    &__btn {
        position: absolute;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        left: calc(#{$categories-sidebar-width} - 1.5rem);
        bottom: 1rem;
        background-color: $color-white;
        border: 0.5px solid rgba($color-grey-dark-2, 0.4);
        text-align: center;
        font-weight: 300;
        font-size: 1.3rem;
        color: #777;
        &:hover {
            background-color: $color-grey-light-2;
            cursor: pointer;
        }
        .fa-chevron-left {
            transform: translate(-0.1rem, 0.35rem);
        }
        .fa-chevron-right {
            transform: translate(0.1rem, 0.35rem);
        }
    }
}
.board {
    float: right;
    position: absolute;
    top: 0;
    left: $categories-sidebar-width;
    bottom: 0;
    width: calc(100% - #{$categories-sidebar-width});
    height: 100%;

    @include y-overflow-handle;
    transition: all 0.2s ease-out;
    &.closed,
    &.small {
        left: #{$categories-sidebar-closed-width};
        width: calc(100% - #{$categories-sidebar-closed-width});
    }
    &__top-section {
        padding: 1rem 1rem 0.5rem 2.5rem;
        border-bottom: 0.5px solid rgba($color-grey-dark-2, 0.4);
        width: 100%;
        &--filter-wrapper {
            text-align: right;
            &.small {
                text-align: left;
            }
        }
        &--header {
            position: relative;
            height: 5rem;
            &-more {
                outline: none;
                float: right;
                position: absolute;
                padding: 0.7rem;
                right: 3rem;
                top: 0.8rem;
                border: none;
                background-color: $color-white;
            }
            &-title {
                width: 60%;

                @include x-overflow-handle;
            }
            &.small {
                height: 6rem;
            }
        }
        &--description {
            width: 60%;
            height: 2.5rem;
            @include x-overflow-handle;
            &.small {
                display: none;
            }
        }
    }

    &__main-section {
        padding: 2rem 2.5rem;
    }
}

[class^="todo"] {
    font-size: 1.5rem;
}

.todo {
    &__container {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    &__container-title {
        font-size: 2rem;
        font-weight: 300;
        &:hover {
            cursor: pointer;
        }
    }
    &__item {
        background-color: $color-grey-light-1;
        width: 100%;
        height: 4rem;
        border-bottom: 0.5px solid $color-grey-light-2;
        margin-bottom: 2px;
        position: relative;
        &:hover .appear-on-hover.large i {
            visibility: visible; //make icons visible on item hover
        }
    }
    &__side-color {
        float: left;
        width: 0.7rem;
        background-color: $color-light-blue-2;
        height: 100%;
        &.important {
            background-color: $color-dark-red;
        }
    }
    &__title {
        position: absolute;
        left: 1rem;
        font-size: 1.5rem;
        padding: 0.7rem;
        width: 50%;
        @include x-overflow-handle;
        &:hover {
            cursor: pointer;
        }
    }

    &__complete,
    &__complete:active,
    &__complete:focus {
        border: none !important;
        outline: none !important;
        width: 10rem;
        text-align: center;
        height: 100%;
        padding: 0.7rem;
        color: $color-white;
        margin-top: 0;
        &.true {
            background-color: $color-blue-completed;
            &:hover {
                cursor: pointer;
            }
            &.animate {
                background-image: url("./images/completed.gif");
                background-size: contain;
            }
        }
        &.false {
            background-color: $color-grey-light-2;

            &:hover {
                cursor: pointer;
            }
        }
        &.small {
            width: 5rem;
            &.animate {
                background-image: url("./images/completed.gif");
                background-size: cover;
            }
        }
    }
    &__btn {
        margin-top: 0.5rem;
        &.important.true i {
            color: $color-dark-red;
        }
        &.cart.true i {
            color: darken($color-grey-dark-2, 50%);
        }
        visibility: hidden; // hidden till hover over item
    }
    &__others {
        height: 100%;
    }
    &__right {
        float: right;
    }
    &__icon {
        color: $color-grey-dark-2;
        font-size: 2rem;
        margin-right: 1rem;
        vertical-align: middle;
        &:hover {
            cursor: pointer;
            font-size: 2.2rem;
        }
    }
    &__date {
        text-align: center;
        padding: 0.7rem 1rem;
        border-left: 1px solid $color-white;
        width: 11rem;
    }
}

.form__title {
    position: relative;
}
.close-modal {
    color: rgba($color-grey-dark-2, 0.7);
    font-size: 3rem;
    &:hover {
        cursor: pointer;
    }
    &.todo {
        position: absolute;
        top: -1.5rem;
        right: 0.5rem;
    }
    &.category {
        position: absolute;
        top: -0.5rem;
        right: 1rem;
    }
}

.filter-buttons-wrapper {
    display: inline-block;
}

.filter-btn {
    margin-right: 0.3rem;
}

//menus
.cat-menu {
    padding: 0.5rem 0.5rem 0.5rem 1.3rem;
    position: absolute;
    top: 1rem;
    right: 6.8rem;
    &__btn {
        display: inline-block;
    }
}

.has-search .form-control {
    padding-left: 4rem;
}
.has-search {
    padding: 0 0.5rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    &:hover {
        cursor: pointer;
    }
}
.btn-search {
    background-color: rgba($color-light-blue-1, 0.15);
    width: 5rem;
    &:hover {
        cursor: pointer;
        background-color: darken(rgba($color-light-blue-1, 0.15), 20%);
    }
}

.search-menu {
    position: absolute;
    top: 13.3rem;
    right: 16.5rem;
    width: 40rem;

    padding: 1.5rem;
    &.small {
        top: 12rem;
        left: 1rem;
        width: 36.5rem;
    }
}

.filter-menu {
    position: absolute;
    top: 13.3rem;
    right: 8.3rem;
    width: 45rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    &.small {
        top: 12rem;
        left: 1rem;
        width: 36.5rem;
    }
}

.sort-menu {
    position: absolute;
    top: 13.3rem;
    right: 1.6rem;
    width: 15rem;
    padding: 1.5rem;
    &.small {
        top: 12rem;
        left: 22.5rem;
    }
}

.pomo-menu {
    position: absolute;
    top: 4rem;
    right: 3rem;
    width: 40rem;

    padding: 1.5rem;
}
.menu-title {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    text-align: left;
}
.menu-row {
    width: 100%;
    display: flex;
}
.menu-column {
    flex-grow: 1;
    margin: 0 0.8rem;
    &__title {
        font-size: 1.6rem;
        text-align: left;
        color: $color-grey-dark;
    }
    &__item {
        text-align: left;
        color: $color-grey-dark;
        background-color: $color-grey-light-2;
        border-radius: 3px;
        width: 100%;
        padding: 0.4rem 0.8rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        &.selected {
            background-color: rgba($color-light-blue-1, 0.15);
            &:hover {
                cursor: pointer;
                background-color: darken(rgba($color-light-blue-1, 0.15), 20%);
            }
        }
        &:hover {
            cursor: pointer;
            background-color: darken($color-grey-light-2, 5%);
        }
    }
}

//landing
.landing-jumbotron {
    background-image: linear-gradient(
            to right bottom,
            rgba($color-black, 0.5),
            rgba($color-black, 0.5)
        ),
        url("./images/landing.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    position: relative;
    &__content {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 30%;
    }
}
.landing-jumbotron__divider {
    border-bottom: 1.5px solid $color-white;
}
.landing-jumbotron__btn-container {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
}
.landing-jumbotron__description {
    color: $color-white;
    font-size: 2rem;
    padding: 3rem 0 8rem 0;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
}

.landing-jumbotron__title {
    font-size: 6.5rem;
    color: $color-white;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
}

//Register or Login Page
.register {
    &__dashboard {
        position: absolute;
        top: $navbar-height;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(
                to right bottom,
                rgba($color-black, 0.7),
                rgba($color-black, 0.7)
            ),
            url("./images/landing.jpeg");
    }
    &__container {
        background-color: $color-white;
        width: 60%;
        margin: 8rem auto 0 auto;
        padding: 3rem;
        box-shadow: 0 4px 8px 0 rgba($color-black, 0.2),
            0 6px 20px 0 rgba($color-black, 0.19);
        border-radius: 4px;
    }
    &__title {
        margin-bottom: 2rem;
    }
}

.form-control {
    height: 4rem;
    font-size: 1.5rem;
}

//alert
.my-alert {
    &.danger {
        position: absolute;
        z-index: 5;
        top: $navbar-height;
        padding: 1rem 2rem;
        width: 100%;
        background-color: rgb(197, 62, 62);
        color: $color-white;
    }
    &.success {
        position: absolute;
        z-index: 5;
        top: $navbar-height;
        padding: 1rem 2rem;
        width: 100%;
        background-color: rgb(43, 182, 94);
        color: $color-white;
    }
}

//sliders/switches
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    right: 45%;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

//pomodoro
.pomodoro {
    &__timer-circle {
        transition: stroke-dashoffset 0.35s;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        stroke: $color-blue;
        fill: transparent;
    }
    &__timer {
        margin: 0 auto;
        position: relative;
    }
    &__top-section {
        position: relative;
        padding: 1rem 0 0.5rem;
    }
    &__timer--time {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
    }
    &__control-btns {
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }
    &__control-btn,
    &__control-btn:active,
    &__control-btn:focus {
        outline: none;
        border: 1px solid $color-grey-dark;
        background-color: $color-white;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        color: $color-grey-dark;
        font-size: 1.5rem;
        &.primary {
            font-size: 1.8rem;
            border: 1px solid $color-blue;
            width: 4.5rem;
            height: 4.5rem;
            color: $color-blue;
            .fa-play {
                transform: translate(0.2rem, 0.1rem);
            }
        }
        .fa-forward {
            transform: translate(0.1rem, 0);
        }
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    &__main-section {
        width: 100%;
        padding: 2rem 2.5rem;
    }
    &__todos-container {
        width: 90%;
        max-width: 150rem;
        margin: 0 auto;
    }
    &__todos-title {
        position: relative;
        margin-bottom: 1rem;
        border-bottom: 0.5px solid rgba($color-grey-dark-2, 0.4);
    }
    &__add-task-btn {
        position: absolute;
        top: -0.4rem;
        right: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $color-grey-dark;
    }
    &__settings {
        position: absolute;
        top: 2rem;
        right: 3rem;
        .fas {
            font-size: 2.5rem;
            color: $color-grey-dark;
            &:hover {
                cursor: pointer;
                color: darken($color-grey-dark, 10%);
            }
        }
    }
}
.pomodoro-time {
    font-size: 5rem;
    color: $color-grey-dark-3;
}
.pomodoro-time-description {
    font-size: 2rem;
}

.web-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
    .todo__date {
        width: 8rem;
    }
}
